body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

a {
  color: #b9b9b9 !important;
}

.normal-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400; 
}

.medium-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500; 
}

.bold-text {
  font-family: "Roboto", sans-serif;
  font-weight: 900; 
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-19 {
  font-size: 19px;
}

.font-size-22 {
  font-size: 22px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-32 {
  font-size: 32px;
}

.font-size-40 {
  font-size: 40px;
}

.font-color-dark {
  color: #5e5e5e;
}

.font-color-pink {
  color: #c97191;
}

.font-color-gray {
  color: #b9b9b9;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #6e6e6e;
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background-color: #2c2c2c;
}

.scrollbar {
  scrollbar-color: #3f3f3f;
  width: 8px;
}

.scrollbar-corner {
  background-color: #6e6e6e;
}
